.actionBtn {
  display: flex;
  width: 60px;
  padding: 2px;
  margin-right: 3px;
  justify-content: space-between;
}

.border {
  border: none;
  width: 75px;
  height: 20px;
}

.true {
  background-color: rgb(22, 160, 239);
  color: white;
  text-align: center;
  padding-bottom: 6px;
  border-radius: 10px;
  border: none;
}

.false {
  background-color: rgb(239, 22, 69);
  color: white;
  text-align: center;
  padding-bottom: 6px;
  border-radius: 10px;
  border: none;
}
